html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

/*ony for large screens*/

  .navbar {
    display: grid;
    grid-template-columns: 50px auto 70px 73px 65px;
  }

  .item {
    background-color: #F4EAE6;
    text-align: center;
    color: #8D3D36;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  a {
    color: #8D3D36
  }

  .header {
    height: auto;
    width: 100%;
    background-image: url('../images/background_image.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    color: #8D3D36;
    width: 90%;
    border-style: solid;
    
  }

  .content {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50%;
    width: 100%;
    background-color: #F4EAE6;
    text-align: center;

    .contenttext {
      color: #F4EAE6;
    }
  }

  .button {
    border: none;
    background-color: #8D3D36;
    font-family:;
    color: #F4EAE6;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button:hover{
    border-color: #8D3D36;
    border-style: solid;
    color: #8D3D36;
    background-color: #F4EAE6;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
  }

  footer {
    height: 200px;
    background-color: #8D3D36;
    display: grid;
  }

  .footerlink {
    color: #F4EAE6;
    width: 150px;
    margin-top: 30px;
  }
  
  div#headercard {
    width: 50%;
    border-style: solid;
    border-color: #8D3D36;
  }
/*CONTENT FOR ETIQUETTE*/
  div#bow {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

.bowimage {
  width: 100%;
  height: 250px;
  margin: 10px;
}
}

/*only for small screens*/
@media screen and (max-width: 767px) {

  .navbar {
    display: grid;
    grid-template-columns: 50px auto 70px 73px 65px;
  }

  .item {
    background-color: #F4EAE6;
    text-align: center;
    color: #8D3D36;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header {
    width: 100%;
    background-image: url('../images/background_image.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    color: #8D3D36;
    width: 90%;
    margin-top: 25px;
    border-style: solid;
  }

  .content {
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    width: 100%;
    background-color: #F4EAE6;
    text-align: center;

    .contenttext {
      color: #F4EAE6;
    }
  }

  .button {
    border: none;
    background-color: #8D3D36;
    font-family:;
    color: #F4EAE6;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  a {
    color: #8D3D36
  }

  div#headercard {
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #8D3D36;
  }
  
  footer {
    height: 200px;
    background-color: #8D3D36;
    display: grid;
    margin-top: auto
  }
  
  .footerlink {
    color: #F4EAE6;
    width: 120px;
    margin-top: 30px;
  }

  /***CONTENT FOR ETIQUETTE**/
}