html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
/*ony for large screens*/
@media screen and (min-width: 767px) {
  .container {
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: auto;
    border-style: solid;
  }
  .navbar {
    display: grid;
    grid-template-columns: 50px auto 50px 50px 50px;
  }
  .item {
    background-color: #F4EAE6;
    text-align: auto;
    padding: 10px;
    color: #8D3D36;
    border-style: solid;
  }
  a {
    color: #8D3D36
  }
  .header {
    height: 500px;
    width: 100%;
    background-color: red;
    background-image: url('../images/background_image.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin: auto;
  }
}
/*only for small screens*/
@media screen and (max-width: 767px) {

  }

}